* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.open-weather-area {
    background-image: linear-gradient(180deg, #457B9D 0%, #A8DADC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container-open-weather {
    width: 315px;
    height: 480px;
    background-color: #D7D7D9;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 2rem;
    color: #4F5459;
    border-radius: 1rem;
}

.form .form-input-control {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    outline: none;
    flex: 1;
    color: #333;
    background-color: #F2F2F2;
    box-shadow: rgba(0, 0, 0, .24) 0px 2px 6px;
    border-radius: 1rem;
}

#weather-data {
    margin-top: 3rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data h2 span {
    margin: 0 .6rem;
    text-transform: capitalize;
}

#weather-data .temperature-description {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, .24) 0px 0px 20px 1px;
    max-width: 140px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-data .temperature-description #temperature {
    text-align: center;
    color: #373C40;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-data #temperature span {
    font-weight: 700;
    font-size: 3rem;
}

#weather-data .temperature-description #wheather-icon {
    position: absolute;
    left: -35px;
    top: -35px;
}

#weather-data .weather-condition-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #A1A4A6;
    text-transform: capitalize;
}

#weather-data .wheater-condition-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

#weather-data .wheater-condition-details abbr {
    text-decoration: none;
}